apiVersion: v1
kind: Pod
metadata:
  name: myapp-pod
  labels:
    app: myapp
    type: back-end
spec:
  containers:
    - name: nginx-container
      image: nginx
      ports:
        - containerPort: 80
      livenessProbe:
        httpGet:
          port: 8080
          path: /api/healthy
        initialDelaySeconds: 10
        periodSeconds: 5
        failureThreshold: 8
