apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: myapp-cron-job
  namespace: namespace
spec:
  schedule: "*/1 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: math-add
              image: ubuntu
              command: ['expr', '3', '+', '2']
          restartPolicy: Never
